html,
body {
  font-size: 16px; /* 1 rem */
  font-weight: normal;
  font-family: sans-serif;
  line-height: 2;
  margin-top: 0;
}

p {
  display: block;
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
  color: grey;
  margin-bottom: 2rem;
}

h1 {
  font-family: 'Libre Franklin', sans-serif;
  font-weight: 900;
  font-size: 4rem;
  text-transform: uppercase;
}

h2 {
  font-family: 'Libre Franklin', serif;
  font-weight: 900;
  font-size: 2.25rem;
  text-transform: uppercase;
  line-height: 2.5rem;
}

h3 {
  font-family: 'Libre Franklin', serif;
  font-weight: 900;
  font-size: 1.5rem;
}

li,
a {
  color: black;
  text-decoration: none;
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
}

section {
  display: block;
}

/* Header */

header {
  height: 8rem;
  display: block;
  margin: 3rem;
}

p.caption {
  margin-top: 1rem;
  font-style: italic;
  font-size: .75rem;
}

/* Desktop and Tablet */

.site-logo {
  display: flex;
  justify-content: center;
  margin-bottom: 3rem;
}

nav.menu-desktop {
  display: flex;
  justify-content: center;
}

nav.menu-desktop li{
  margin: 0 auto;
  display: inline;
  align-items: center;
  justify-content: space-between;
  transition: #f00000 1s linear;
  padding: 0rem .75rem;
  text-transform: uppercase;
  letter-spacing: .125rem;
  transition: underline 1s linear;
}

nav.menu-desktop a:hover {
  color: #f00000;
  text-decoration: underline;
}


/* Mobile */
nav.menu-mobile {
  display: none;
}

@media only screen and (max-width: 768px) {
  .menu-desktop {
    display: none;
  }

  .title {
    display: none;
  }

  nav.menu-mobile {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin: 0 1.5rem;
  }
}

/* HELLO STYLES HERE */


.intro {
  display: flex;
  justify-content: center;
  margin: 10rem 0;
}

.hello-block {
  display: block;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.hello-block p {
  margin-bottom: 1rem;
}

.hello-block h1 {
  line-height: 6rem;
}

.hello-block h1:hover {
  color: #404040;
  transition: #404040 1s linear;
}


/* INDEX PORTFOLIO STYLES HERE */

section.portfolio {
  margin: 20rem 0;
}

.portfolio-container { /* Site Content Width if needed */
  max-width: 80%;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.portfolio-entry {
  display: flex;
  flex-direction: column;
  position: relative;
  max-width: 100%;
  height: auto;
  padding: .75rem;
}

/* Hover 1 */
.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .25s ease;
  background-color: rgba(255, 255, 255, .7);
}

h2.image-hover {
  color: #000;
  font-family: 'Libre Franklin', serif;
  font-weight: 900;
  font-size: 2.25rem;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}

.portfolio-entry:hover .overlay {
  opacity: 1;
}



/* ABOUT STYLES HERE */


section.about-module {
  display: block;
  margin: 10rem;
}

.profile {
  width: 100%;
  display: flex;
  position: relative;
  align-items: center;
  margin: 0 auto;
}

.headshot {
  z-index: 5;
  position: relative;
  width: 50%;
}

.headshot img {
  max-width: 100%;
  height: auto;
}

.bio {
  position: absolute;
  z-index: 10;
  right: 5rem;
  height: auto;
  width: 50%;
}


.bio-content {
  padding: 3.125rem;
  background-color: rgba(229, 229, 229, 0.95);
}

.bio-content p {
  margin-top: 1rem;
  font-size: 14px;
}


/* CONTACT STYLES HERE */

section.contact {
  display: block;
  margin: 10rem 10rem 20rem 10rem;
}

.contact-info {
  width: 60%;
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  margin: 0 auto;
}

.contact-email {
  display: inline;
}

.contact-location {
  display: inline;
}



/* RESUME STYLES HERE */

section.resume {
  display: block;
  margin: 10rem 10rem 20rem 10rem;
}

.resume-text {
  max-width: 50%;
  display: block;
  margin: 0 auto;
}

.resume-section {
  margin: 5rem 0;
}

.resume-section h2 {
  text-align: center;
}

.resume-entry {
  margin: 2rem 0;
}


/* CLIENT WORK STYLES HERE */

section.client-work {
  display: block;
  margin: 10rem 10rem 20rem 10rem;
}

.client-description {
  display: block;
  width: 50%;
  margin: 0 auto;
}

.client-portfolio {
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.client-description h2 {
  margin-bottom: 1rem;
}

.client-portfolio-entry-twocol {
  display: inline-flex;
  width: 80%;
  margin: 5rem 0;
  justify-content: center;
  align-items: center;
}

.client-portfolio-entry-onecol {
  display: inline-flex;
  width: 70%;
  margin: 3rem 0;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

video.client-entry {
  width: 100%;
  display: inline;
  position: relative;
  margin: 2rem 0;
}

img.client-entry {
  max-width: 100%;
  display: inline;
  margin: 3rem 0;
  border: 1px solid lightgrey;

}

.client-portfolio-entry-split-text {
  display: inline-block;
  width: 40%;
}

.client-portfolio-entry-head-text {
  display: block;
  width: 70%;
  margin: 2rem 0;
}

.client-description a {
  text-decoration: underline;
}

/* Footer */

footer {
  background-color: #e5e5e5;
  margin: 0 auto;
  display: block;
  position: relative;
}

footer .legal {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 2rem 5rem;
}

footer a {
  font-size: .875rem;
  color: grey;
  transition: underline 1s linear;
}

footer p {
  margin: 0;
}

footer a:hover {
  text-decoration: underline;
}

footer .links a:nth-child(2n) {
  padding-left: .5rem;
}

/* Footer Mobile */
@media only screen and (max-width: 768px) {

  footer .legal p {
    margin: 1rem 1.5rem;
    display: inline-flex;
  }

  footer .links {
    display: none;
  }
}
