@font-face {
    font-family: 'Libre Franklin';
    src: url('../fonts/LibreFranklin-BlackItalic.eot');
    src: url('../fonts/LibreFranklin-BlackItalic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/LibreFranklin-BlackItalic.woff2') format('woff2'),
        url('../fonts/LibreFranklin-BlackItalic.woff') format('woff'),
        url('../fonts/LibreFranklin-BlackItalic.ttf') format('truetype');
    font-weight: 900;
    font-style: italic;
}

html,
body {
  font-size: 16px; /* 1 rem */
  font-weight: normal;
  font-family: sans-serif;
  line-height: 2;
  margin-top: 0;
}

p {
  display: block;
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
  color: grey;
}

h1 {
  font-family: 'Libre Franklin', sans-serif;
  font-weight: 900;
  font-size: 4rem;
  font-style: italic;
  text-transform: uppercase;
}

h2 {
  font-family: 'Libre Franklin', sans-serif;
  font-weight: 900;
  font-size: 2.25rem;
  font-style: italic;
  text-transform: uppercase;
  line-height: 2.5rem;
}

h3 {
  font-family: 'Libre Franklin', sans-serif;
  font-weight: 900;
  font-size: 1.5rem;
  font-style: italic;
}

li,
a {
  color: black;
  text-decoration: none;
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
}

section {
  display: block;
  margin: 10rem 10rem 20rem 10rem;
}

/* Header */

header {
  height: 8rem;
  display: block;
  margin: 3rem;
}

p.caption {
  margin-top: 1rem;
  font-style: italic;
  font-size: .75rem;
}

/* Desktop and Tablet */

.site-logo {
  display: flex;
  justify-content: center;
  margin-bottom: 3rem;
}

nav.menu-desktop {
  display: flex;
  justify-content: center;
}

nav.menu-desktop li{
  margin: 0 auto;
  display: inline;
  align-items: center;
  justify-content: space-between;
  transition: #f00000 1s linear;
  padding: 0rem .75rem;
  text-transform: uppercase;
  letter-spacing: .125rem;
  transition: underline 1s linear;
}

nav.menu-desktop a:hover {
  color: #f00000;
  text-decoration: underline;
}

nav.menu-mobile {
  display: none;
}


/* HELLO STYLES HERE */

section.intro {
  display: flex;
  justify-content: center;
  margin: 15rem 0 15rem 0;
}

.hello-block {
  display: block;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.hello-block p {
  margin-bottom: 1rem;
}

.hello-block h1 {
  line-height: 6rem;
}

.hello-block h1:hover {
  text-decoration: underline;
  text-decoration-color: #f00000;
  transition: #f00000 1s linear;
}


/* INDEX PORTFOLIO STYLES HERE */

section.portfolio {
  margin: 20rem 0;
}

.portfolio-container { /* Site Content Width if needed */
  max-width: 100%;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.portfolio-entry {
  display: flex;
  position: relative;
}

img.desktop-thumbnail {
  max-width: 100%;
  height: auto;
  padding: .75rem 1rem;
  position: relative;
}

/* Hover 1 */
.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .25s ease;
  background-color: rgba(255, 255, 255, .7);
}

.portfolio-entry:hover .overlay {
  opacity: 1;
}

h2.image-hover {
  color: #000;
  font-family: 'Libre Franklin', sans-serif;
  font-weight: 900;
  font-size: 2.25rem;
  font-style: italic;
  text-decoration: underline;
  text-decoration-color: #f00000;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}



/* ABOUT STYLES HERE */


section.about-module {
  display: block;
  margin: 10rem 5rem;
}

.profile {
  width: 100%;
  display: flex;
  position: relative;
  align-items: center;
}

.headshot {
  z-index: 5;
  position: relative;
  width: 50%;
}

.headshot img {
  max-width: 100%;
  height: auto;
}

.bio {
  position: absolute;
  z-index: 10;
  right: 5rem;
  height: auto;
  width: 50%;
}


.bio-content {
  padding: 3.125rem;
  background-color: rgba(229, 229, 229, 0.95);
}

.bio-content p {
  margin-top: 1rem;
  font-size: 14px;
}


/* CONTACT STYLES HERE */

section.contact {
  margin: 5rem;
}

.contact-info {
  max-width: 60%;
  display: flex;
  justify-content: space-around;
  margin: 0 auto;
}

.contact-email {
  display: inline;
  padding: 0 2rem;
}

.contact-location {
  display: inline;
  padding: 0 2rem;
}

.site-about {
  max-width: 60%;
  display: block;
  margin: 0 auto;
  padding: 5rem 0;
}

.site-about p {
  margin-top: 2rem;
}



/* RESUME STYLES HERE */


.resume-text {
  max-width: 70%;
  display: block;
  margin: 0 auto;
}

.resume-section {
  margin: 8rem 0;
}

.resume-section h2 {
  text-align: center;
  margin: 2rem;
}

.resume-entry {
  margin-bottom: 4rem;
}


/* CLIENT WORK STYLES HERE */

.client-description {
  display: block;
  width: 60%;
  margin: 0 auto;
}

.client-portfolio {
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.client-description h2 {
  margin-bottom: 1rem;
}

.client-portfolio-entry-onecol {
  display: inline-flex;
  width: 90%;
  margin: 3rem 0;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

video.client-entry {
  width: 100%;
  display: inline;
  position: relative;
  margin: 2rem 0;
}

img.client-entry {
  max-width: 100%;
  display: inline;
  margin: 3rem 0;
  border: 1px solid lightgrey;

}

.client-portfolio-entry-head-text {
  display: block;
  width: 70%;
  margin: 2rem 0;
}

.client-description a {
  text-decoration: underline;
}

/* Footer */

footer {
  background-color: #e5e5e5;
  margin: 0 auto;
  display: block;
  position: relative;
}

footer .legal {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 2rem 5rem;
}

footer a {
  font-size: .875rem;
  color: grey;
  transition: underline 1s linear;
}

footer p {
  margin: 0;
}

footer a:hover {
  text-decoration: underline;
}

footer .links a:nth-child(2n) {
  padding-left: .5rem;
}

/* MOBILE QUERIES HERE */

@media only screen and (max-width: 1024px) {
  section {
    margin: 10rem 0rem;
  }

  section.about-module {
    margin: 10rem 2rem 5rem 2rem;
  }

  section.contact {
    margin: 5rem 2rem;
  }

  footer .legal {
    display: inline;
    justify-content: flex-start;
  }

  footer .links {
    margin: 1rem 3rem;
  }

  footer p {
    margin: 1rem 3rem;
  }

  .resume-text {
    width: 100%;
  }

  .profile {
    width: 100%;
    display: block;
  }

  .headshot {
    width: 100%;
    height: 100%;
  }

  .headshot img {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  .bio {
    width: 100%;
    height: auto;
    position: relative;
    right: 0;
  }

  .bio-content {
    padding: 0;
    background-color: transparent;
    margin: 5rem 1rem;
  }

  .contact-info {
    width: 100%;
    display: block;
    margin: 0rem 1rem;
  }

  .site-about {
    max-width: 100%;
    display: block;
    margin: 5rem 1rem;
    padding: 0;
  }
}


@media only screen and (min-width: 769px) and (max-width: 1024px) {
  .contact-email {
    margin: 2rem;
  }

  .contact-location {
    margin: 2rem;
  }

  .client-description {
    width: 100%;
  }

  .client-portfolio-entry-onecol {
    width: 100%;
  }

  .client-portfolio-entry-head-text {
    width: 100%;
  }
}

@media only screen and (max-width: 520px) {
  nav.menu-desktop {
    display: none;
  }

  nav.menu-mobile {
    display: flex;
    justify-content: center;
  }

  nav.menu-mobile li {
    margin: 0 auto;
    display: inline;
    justify-content: space-between;
    padding: 0rem .5rem;
    text-transform: uppercase;
    letter-spacing: .125rem;
    font-size: .75rem;
  }

  .hello-block h1 {
    font-size: 1.5rem;
    line-height: 3.5rem;
  }

  .portfolio-container { /* Site Content Width if needed */
    width: 100%;
    display: flex;
    flex-direction: column;
  }

  .portfolio-entry img {
    max-width: 100%;
    height: auto;
  }

  section.about-module {
    margin: 10rem 1rem 5rem 1rem;
  }

  .bio-content {
    margin: 5rem 0;
  }

  section.contact {
    margin: 5rem 1rem;
  }

  .contact-info {
    margin: 0;
  }

  .site-about {
    margin: 0;
  }

  section.resume {
    margin: 10rem 1rem;
  }

  .resume-text {
    max-width: 100%;
    margin: 0;
  }

  .resume-entry h3 {
    line-height: 1.75rem;
  }

  footer .links {
    margin: 1rem;
  }

  footer p {
    margin: 1rem;
  }
}


@media only screen and (min-width: 520px) and (max-width: 690px) {
  .hello-block h1 {
    font-size: 3rem;
    line-height: 5rem;
  }
}
